html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

/*
@mixin gradient($start, $end) { background: { color: $end; image: -moz-linear-gradient(top, $start, $end); //FF3.6 image: -ms-linear-gradient(top, $start, $end); //IE10 image: -o-linear-gradient(top, $start, $end); //Opera 11.10+ image: -webkit-gradient(linear, left top, left bottom, from($start), to($end)); //Saf4+, Chrome image: -webkit-linear-gradient(top, $start, $end); //Chrome 10+, Saf5.1+ image: linear-gradient(top, $start, $end); }
}

@mixin gradient-old($start, $end) { background-color: $end; background-image: -moz-linear-gradient(top, $start, $end); //FF3.6 background-image: -ms-linear-gradient(top, $start, $end); //IE10 background-image: -o-linear-gradient(top, $start, $end); //Opera 11.10+ background-image: -webkit-gradient(linear, left top, left bottom, from($start), to($end)); //Saf4+, Chrome background-image: -webkit-linear-gradient(top, $start, $end); //Chrome 10+, Saf5.1+ background-image: linear-gradient(top, $start, $end); //filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='$start', EndColorStr='$end'); //IE6-IE9
}
*/
header nav ul { background-color: #F2F2F2; background-image: -moz-linear-gradient(top, #FFFFFF, #F2F2F2); background-image: -ms-linear-gradient(top, #FFFFFF, #F2F2F2); background-image: -o-linear-gradient(top, #FFFFFF, #F2F2F2); background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F2F2F2)); background-image: -webkit-linear-gradient(top, #FFFFFF, #F2F2F2); background-image: linear-gradient(top, #FFFFFF, #F2F2F2); filter: progid:DXImageTransform.Microsoft.gradient(enabled='false', startColorStr='#FFFFFFFF', endColorStr='#FFF2F2F2'); }
header nav ul li { display: inline-block; padding: 5px 0; }
header nav ul li a { color: #018FBE; }
header nav ul li a:hover { color: #01698b; }

section.wrapper { margin: 10px 0; width: 980px; }
section.wrapper div { background-color: #FFFFFF; background-image: -moz-linear-gradient(top, #EEEEEE, #FFFFFF); background-image: -ms-linear-gradient(top, #EEEEEE, #FFFFFF); background-image: -o-linear-gradient(top, #EEEEEE, #FFFFFF); background-image: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#FFFFFF)); background-image: -webkit-linear-gradient(top, #EEEEEE, #FFFFFF); background-image: linear-gradient(top, #EEEEEE, #FFFFFF); filter: progid:DXImageTransform.Microsoft.gradient(enabled='false', startColorStr='#FFEEEEEE', endColorStr='#FFFFFFFF'); }
section.wrapper div.left-nav { float: left; width: 98px; }
section.wrapper div.right-nav { float: right; width: 196px; }

.butt, .butt2 { color: red; text-decoration: none; padding: 5px 7px; border: 1px solid #e2734e; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; background-color: darksalmon; background-image: -moz-linear-gradient(top, #fffefd, darksalmon); background-image: -ms-linear-gradient(top, #fffefd, darksalmon); background-image: -o-linear-gradient(top, #fffefd, darksalmon); background-image: -webkit-gradient(linear, left top, left bottom, from(#fffefd), to(darksalmon)); background-image: -webkit-linear-gradient(top, #fffefd, darksalmon); background-image: linear-gradient(top, #fffefd, darksalmon); filter: progid:DXImageTransform.Microsoft.gradient(enabled='false', startColorStr='#FFFFFEFD', endColorStr='#FFE9967A'); }
.butt:hover, .butt2:hover { color: #e2734e; }

.butt2 { color: #bf4040; }

.popup { position: absolute; width: 200px; height: 100px; top: 100px; left: 390px; border: 1px solid #ffd79a; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; background-color: white; background-image: -moz-linear-gradient(top, blanchedalmond, white); background-image: -ms-linear-gradient(top, blanchedalmond, white); background-image: -o-linear-gradient(top, blanchedalmond, white); background-image: -webkit-gradient(linear, left top, left bottom, from(blanchedalmond), to(white)); background-image: -webkit-linear-gradient(top, blanchedalmond, white); background-image: linear-gradient(top, blanchedalmond, white); filter: progid:DXImageTransform.Microsoft.gradient(enabled='false', startColorStr='#FFFFEBCD', endColorStr='#FFFFFFFF'); }

.popup span:before { content: "Hi!"; }
.popup span:after { content: "there"; }
